html, body,
#image-map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#diff-map,
#union-map,
#intersection-map {
	display: none;
	width: 400px;
	height: 400px;
	margin-right: 10px;
	float: left;
}

@import url("../../node_modules/leaflet-draw/dist/leaflet.draw.css") screen;
